{
	"parserOptions": {
		"ecmaVersion": 12,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:sonarjs/recommended",
		"plugin:react-hooks/recommended",
		"plugin:jsdoc/recommended",
		// Из пакета eslint-config-prettier отключает ненужные правила и правила которые вызывают конфликты с prettier
		"prettier"
	],
	"plugins": ["react-native", "import", "unicorn", "simple-import-sort"],
	"rules": {
		"react/function-component-definition": [
			2,
			{
				"namedComponents": "arrow-function",
				"unnamedComponents": "arrow-function"
			}
		],
		"unicorn/prefer-switch": 2,
		"unicorn/prefer-ternary": 2,
		"unicorn/no-nested-ternary": 2,
		"unicorn/prefer-spread": 2,
		"unicorn/no-array-callback-reference": 2,
		"spaced-comment": 2,
		"no-unneeded-ternary": 2,
		"array-callback-return": 2,
		"prefer-template": 2,
		"object-shorthand": 2,
		"prefer-const": 2,
		"prefer-destructuring": 2,
		"arrow-body-style": ["error", "as-needed"],
		"no-console": 2,
		"no-param-reassign": [
			"error",
			{
				"props": true,
				"ignorePropertyModificationsFor": ["state"]
			}
		],
		"react/prop-types": 0,
		"react/display-name": 0,
		"react/jsx-curly-brace-presence": 2,
		"react/self-closing-comp": 2,
		"react/jsx-boolean-value": 2,
		"react/jsx-filename-extension": 2,
		"react-native/no-unused-styles": 2,
		"react-native/split-platform-components": 2,
		"react-native/no-inline-styles": 2,
		"react-native/no-color-literals": 2,
		"react-native/no-raw-text": 2,
		"react-native/sort-styles": 2,
		"jsdoc/require-jsdoc": 2,
		"jsdoc/newline-after-description": 2,
		"react-hooks/exhaustive-deps": 2,
		"import/newline-after-import": 2,
		"import/no-duplicates": 2,
		"import/prefer-default-export": 0,
		"import/no-unresolved": 2,
		"import/extensions": [
			"error",
			"never",
			{
				"svg": "always"
			}
		],
		"import/no-cycle": 2,
		"import/named": 2,
		"import/no-self-import": 2,
		"no-use-before-define": 0,
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": false
			}
		],
		"simple-import-sort/imports": [
			2,
			{
				"groups": [
					["^react", "^@?\\w"],
					[
						"^(@|@common|@modules|@processes|@screens|@store|@constants)(/.*|$)"
					],
					["^\\.\\.(?!/?$)", "^\\.\\./?$"]
				]
			}
		],
		"sonarjs/cognitive-complexity": 0,
		"no-lonely-if": 2
	},
	"env": {
		"react-native/react-native": true
	},
	"settings": {
		"react": {
			"version": "detected"
		},
		"import/resolver": {
			"babel-module": {}
		},
		"import/ignore": ["node_modules"]
	}
}
